*{
  padding: 0;
  margin: 0;
  background: rgb(2,0,36);
 
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: translateY(15%);

}
.card{
  padding: 20px;
  height: 160px;
  width:320px;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  margin:10px;
  border-radius: 10px;
}

.card > h1, .tag{
  margin: 10px 0;
  background: initial;
}

a{
  text-decoration: none;
  color: black;
}

.detail{
  color: white;
}

.content{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  text-align: center;
  padding: 10px 0;
}
.item-module{
  position: absolute;
  width: 60%;
  border:1px solid hsl(0, 100%, 50%, 0.5);
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  align-items: center;
  left:50%;
  transform: translateX(-50%);
  padding: 40px 20px;
}

.close{
  font-size: 20px;
  position: absolute;
  top:-30px;
  right:-30px;
  color: red;
}

.btn{
  width:  160px;
  height: 28px;
  background-color: red;
  color: white;
  font-size: bold;
  border: none;
}


.parag{
  margin:20px 0;
}